In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data-1691955614049.csv')

In [6]:

d1 = {'total_rental_duration': [7757 ,7000, 4747, 4030, 3956, 3649, 3558, 2822, 1886, 1777, 1775, 1744, 1546, 1423, 1124]}

df1 = pd.DataFrame(d1)

print('DataFrame 1:\n', df1)

df2 = pd.DataFrame({'country': ["India", "China", "United States", "Japan", "Mexico", "Brazil", "Russian Federation", "Philippines", "Turkey", "Indonesia", "Argentina", "Nigeria", "Taiwan", "South Africa", "Iran"], 'total_rental_duration': [7757 ,7000, 4747, 4030, 3956, 3649, 3558, 2822, 1886, 1777, 1775, 1744, 1546, 1423, 1124]})
print('DataFrame 2:\n', df2)

df_merged = df1.merge(df2)
print('Result:\n', df_merged)

DataFrame 1:
     total_rental_duration
0                    7757
1                    7000
2                    4747
3                    4030
4                    3956
5                    3649
6                    3558
7                    2822
8                    1886
9                    1777
10                   1775
11                   1744
12                   1546
13                   1423
14                   1124
DataFrame 2:
                country  total_rental_duration
0                India                   7757
1                China                   7000
2        United States                   4747
3                Japan                   4030
4               Mexico                   3956
5               Brazil                   3649
6   Russian Federation                   3558
7          Philippines                   2822
8               Turkey                   1886
9            Indonesia                   1777
10           Argentina                   1775
11             Nigeria                   1744
12              Taiwan                   1546
13        South Africa                   1423
14                Iran                   1124
Result:
     total_rental_duration             country
0                    7757               India
1                    7000               China
2                    4747       United States
3                    4030               Japan
4                    3956              Mexico
5                    3649              Brazil
6                    3558  Russian Federation
7                    2822         Philippines
8                    1886              Turkey
9                    1777           Indonesia
10                   1775           Argentina
11                   1744             Nigeria
12                   1546              Taiwan
13                   1423        South Africa
14                   1124                Iran