In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob
df = pd.read_csv('data-1691976821292.csv')
df.head(3)

                                         description  total_amount
0  A Fateful Yarn of a Husband And a Dog who must...        215.75
1  A Intrepid Panorama of a Mad Scientist And a B...        199.72
2  A Awe-Inspiring Epistle of a Teacher And a Fem...        198.73

In [12]:
def sentiment_detection(sentence):
  positive = False
  negative = False
  for i in ('Happy', 'Fateful', 'Positive','Inspiring','Thoughtful','Wonderful'):
    if sentence.count(i) > 0:
      positive = True
  for i in ('Sad','Unbelieveable','Emotional','Mad','Epic'):
    if sentence.count(i) > 0:
      negative = True
  if positive == negative == False:
    return "neutral"
  elif positive == True != negative:
    return "positive"
  elif negative == True != positive:
    return 'negative'
  else:
    return "mixed"

In [13]:
sentiment_detection('A Emotional Display of a Crocodile And a Husband who must Reach a Man in Ancient Japan')

'negative'

In [14]:
sentiment_detection('A Fateful Yarn of a Husband And a Dog who must Battle a Waitress in A Jet Boat')

'positive'

In [15]:
sentiment_detection('A Thoughtful Reflection of a Mad Scientist And a Moose who must Kill a Husband in A Baloon')

'mixed'